<div class="row">
  <div class="col-12">
    <app-heading></app-heading>
    <app-breadcrumb></app-breadcrumb>
    <div class="separator mb-5"></div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="card mb-4">

      <div class="card-body">
        <h5 class="mb-4">{{'nav.basic'}}</h5>
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link c-pointer active">{{'nav.active'}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link c-pointer">{{'nav.link'}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link c-pointer">{{'nav.link'}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link c-pointer disabled">{{'nav.disabled'}}</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="card mb-4">
      <div class="card-body">
        <h5 class="mb-4">{{'nav.horizontal-alignment'}}</h5>
        <ul class="nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link c-pointer active">{{'nav.active'}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link c-pointer">{{'nav.link'}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link c-pointer">{{'nav.link'}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link c-pointer disabled">{{'nav.disabled'}}</a>
          </li>
        </ul>
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <a class="nav-link c-pointer active">{{'nav.active'}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link c-pointer">{{'nav.link'}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link c-pointer">{{'nav.link'}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link c-pointer disabled">{{'nav.disabled'}}</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="card mb-4">
      <div class="card-body">
        <h5 class="mb-4">{{'nav.vertical-alignment'}}</h5>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link c-pointer active">{{'nav.active'}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link c-pointer">{{'nav.link'}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link c-pointer">{{'nav.link'}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link c-pointer disabled">{{'nav.disabled'}}</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="card mb-4">
      <div class="card-body">
        <h5 class="mb-4">{{'nav.pills'}}</h5>
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a class="nav-link c-pointer active">{{'nav.active'}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link c-pointer">{{'nav.link'}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link c-pointer">{{'nav.link'}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link c-pointer disabled">{{'nav.disabled'}}</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="card mb-4">
      <div class="card-body">
        <h5 class="mb-4">{{'nav.fill-justify'}}</h5>
        <ul class="nav nav-pills nav-fill">
          <li class="nav-item">
            <a class="nav-link c-pointer active">{{'nav.active'}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link c-pointer">{{'nav.longer-link'}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link c-pointer">{{'nav.link'}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link c-pointer disabled">{{'nav.disabled'}}</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="card mb-4">
      <div class="card-body">
        <h5 class="mb-4">{{'nav.pills-dropdowns'}}</h5>
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a class="nav-link c-pointer active">{{'nav.active'}}</a>
          </li>
          <li class="nav-item dropdown ml-1 mr-1">
            <div class="btn-group" dropdown>
              <a id="button-basic" dropdownToggle class="nav-link c-pointer dropdown-toggle"
                aria-controls="dropdown-basic">
                {{'nav.dropdown'}} <span class="caret"></span>
              </a>
              <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
                <li role="menuitem"><a class="dropdown-item" href="javascript:;">{{'nav.action'}}</a></li>
                <li role="menuitem"><a class="dropdown-item" href="javascript:;">{{'nav.another-action'}}</a></li>
                <li class="divider dropdown-divider"></li>
                <li role="menuitem"><a class="dropdown-item" href="javascript:;">{{'nav.another-link'}}</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link c-pointer">{{'nav.link'}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link c-pointer disabled">{{'nav.disabled'}}</a>
          </li>
        </ul>
      </div>
    </div>

  </div>
</div>
