<modal-container role="dialog" tabindex="-1" class="modal fade show" style="display: block;" aria-modal="true"
    *ngIf="showModalAdd == true">
    <div class="modal-dialog modal-right">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">{{'pages.add-new-modal-title'}}</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="closeAddCategorie()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="mt-4">
                    <label>{{ 'pages.category' }}</label>
                    <label class="w-100">
                        {{addProductCategories.name}}
                    </label>
                </div>
                <div>
                    <label>{{ 'pages.product-name' }}</label>
                    <input type="email" class="form-control" placeholder="" [(ngModel)]="productName">
                </div>
                <div class="mt-4">
                    <label>Doses</label>
                    <br>

                    <table style="width: 350px;">
                        <tbody>
                            <tr>
                                <td *ngFor="let dose of addProductCategories.doses; let i index">{{dose.value}} </td>
                            </tr>
                            <tr>
                                <td *ngFor="let dose of addProductCategories.doses; let i index"><input
                                        [(ngModel)]="dose.price" style="width: 80%;"> €</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="mt-4">
                    <label>{{ 'pages.description' }}</label>
                    <textarea class="form-control" rows="3"></textarea>
                </div>
            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary"
                    (click)="closeAddCategorie()">{{'pages.cancel' }}</button>
                <button type="submit" class="btn btn-primary float-right"
                    (click)="submitAddProduct()">{{ 'pages.submit'}}</button>
            </div>
        </div>
    </div>
</modal-container>