<div class="row">
  <div class="col-12">
    <app-heading></app-heading>
    <app-breadcrumb></app-breadcrumb>
    <div class="separator mb-5"></div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="card mb-4">
      <div class="card-body">
        <h5 class="mb-4">{{'popover-tooltip.popover'}}</h5>

        <button type="button" class="btn btn-default btn-secondary mb-2" triggers="focus"
          popover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." popoverTitle="{{'popover-tooltip.popover'}}  {{'popover-tooltip.top'}}"
          placement="top">
          {{'popover-tooltip.top'}}
        </button> {{" "}}
        <button type="button" class="btn btn-default btn-secondary mb-2" triggers="focus"
          popover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." popoverTitle="{{'popover-tooltip.popover'}}  {{'popover-tooltip.right'}}"
          placement="right">
          {{'popover-tooltip.right'}}
        </button> {{" "}}
        <button type="button" class="btn btn-default btn-secondary mb-2" triggers="focus"
          popover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." popoverTitle="{{'popover-tooltip.popover'}}  {{'popover-tooltip.auto'}}"
          placement="auto">
          {{'popover-tooltip.auto'}}
        </button> {{" "}}
        <button type="button" class="btn btn-default btn-secondary mb-2" triggers="focus"
          popover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." popoverTitle="{{'popover-tooltip.popover'}}  {{'popover-tooltip.left'}}"
          placement="left">
          {{'popover-tooltip.left'}}
        </button> {{" "}}
        <button type="button" class="btn btn-default btn-secondary mb-2" triggers="focus"
          popover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." popoverTitle="{{'popover-tooltip.popover'}}  {{'popover-tooltip.bottom'}}"
          placement="bottom">
          {{'popover-tooltip.bottom'}}
        </button>

      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="card mb-4">
      <div class="card-body">
        <h5 class="mb-4">{{'popover-tooltip.tooltip'}}</h5>

        <button type="button" class="btn btn-default btn-secondary mb-2"
          tooltip="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." placement="top">
          {{'popover-tooltip.top'}}
        </button> {{" "}}
        <button type="button" class="btn btn-default btn-secondary mb-2"
          tooltip="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." placement="right">
          {{'popover-tooltip.right'}}
        </button> {{" "}}
        <button type="button" class="btn btn-default btn-secondary mb-2"
          tooltip="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." placement="auto">
          {{'popover-tooltip.auto'}}
        </button> {{" "}}
        <button type="button" class="btn btn-default btn-secondary mb-2"
          tooltip="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." placement="left">
          {{'popover-tooltip.left'}}
        </button> {{" "}}
        <button type="button" class="btn btn-default btn-secondary mb-2"
          tooltip="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." placement="bottom">
          {{'popover-tooltip.bottom'}}
        </button>

      </div>
    </div>
  </div>
</div>
